# # Node modules
node_modules/

# React Native
ios/build/
android/app/build/
android/build/

# Expo
.expo/
.expo-shared/

# Metro bundler cache
metro-cache/

# Miscellaneous
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# macOS
.DS_Store

# Logs
*.log

# Environment Variables
.env

# Bundles
*.jsbundle

# Pods (iOS specific)
ios/Pods/
ios/Podfile.lock

# Android
*.iml
.gradle/
local.properties

# VSCode
.vscode/

# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/

# Watchman
.watchmanconfig

